/* 共同使用 */
.b-cover-fit {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.b-contain-fit {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
.b-step {
  padding-top: 20px;
  padding-bottom: 20px;
}
.b-title {
  padding-bottom: 30px;
  margin: 0;
}

/* 按鈕們 */
.b-btn {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 0 40px;
  height: 42px;
  border: 1px solid transparent;
  border-radius: 8px;
}
.b-btn:hover,
.b-btnblue:hover {
  background: var(--color-primary-A);
}
.b-btnblue {
  background: var(--color-FBblue);
  color: var(--color-white);
  padding: 0 40px;
  height: 42px;
  border: 1px solid transparent;
  border-radius: 8px;
}

/* 第一段 */

.b-page1-calc {
  margin-bottom: 30px;
  padding: 0 40px;
}
.b-page1-right {
  position: relative;
  padding-left: 30px;
}
.b-page1-note {
  color: var(--color-grey-800);
  position: absolute;
  top: 30px;
  left: 40px;
}
.b-page1-image {
  position: absolute;
  right: 0;
  height: 370px;
}
.b-page1-text {
  color: var(--color-grey-900);
  position: absolute;
  bottom: 80px;
}

/* 第二段 */
/* .customized {
  height: calc(100vh - 104px);
} */
.b-page2-image {
  position: absolute;
  top: 0;
  right: 50px;
  width: 320px;
  height: 150px;
}
.b-page2-note {
  color: var(--color-grey-800);
  position: absolute;
  top: 45px;
  left: 45px;
}
.b-page2-bento {
  margin: 0 auto;
  width: 560px;
  background: url('../images/box_down.png') no-repeat;
  background-size: 559px auto;
}
.b-page2-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.b-page2-menu > .chevron {
  display: block;
  font-size: 40px;
  cursor: pointer;
  margin: 0 20px;
  color: var(--color-grey-800);
}
.b-page2-menu > .chevron:hover {
  color: var(--color-grey-900);
}
.b-page2-food {
  width: 200px;
  height: 150px;
}
.b-page2-foodtext {
  text-align: center;
}

/* 第三段 */
.b-page3-left {
  position: relative;
}
.b-page3-image {
  position: absolute;
  height: 350px;
  left: 0;
}
.b-page3-text {
  color: var(--color-grey-900);
  position: absolute;
  left: 250px;
  top: 45px;
}
.b-page3-btn {
  position: absolute;
  bottom: 0px;
  left: 200px;
}

/* Modal */
.b-modal {
  position: relative;
  margin: 30px auto;
  width: 50%;
  border: 1px solid var(--color-grey-500);
  padding: 20px;
}
.b-modal-left {
  height: 400px;
  position: relative;
}
.b-modal-name {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: rotate(24deg);
  color: var(--color-secondary);
}
.b-modal-close {
  color: var(--color-grey-800);
  position: absolute;
  top: 0;
  font-size: 40px;
}
.b-modal-close:hover {
  color: var(--color-grey-900);
}
