/* 共同使用 */
.b-cover-fit {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.b-contain-fit {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
.b-step {
  padding-top: 20px;
  padding-bottom: 20px;
}
.b-title {
  padding-bottom: 30px;
  margin: 0;
}
.b-note {
  color: var(--color-grey-800);
  margin-top: -20px;
  display: none;
}
/* 按鈕們 */
.b-btn {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 0 20px;
  height: 43px;
  border: 1px solid transparent;
  border-radius: 8px;
}
.b-btn:hover,
.b-btnblue:hover {
  background: var(--color-primary-A);
}
.b-btnblue {
  background: var(--color-FBblue);
  color: var(--color-white);
  padding: 0 20px;
  height: 43px;
  border: 1px solid transparent;
  border-radius: 8px;
}
.b-btnblue:hover {
  background: var(--color-blue-B);
}
@media screen and (max-width: 414px) {
  .b-step {
    margin: 0 auto;
  }
  .b-title {
    font-size: 24px;
    line-height: 26.4px;
    font-weight: 700;
    padding-left: 30px;
  }
  .b-note {
    display: block;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 3px;
    padding-left: 30px;
  }
}
/* 第一段 */
.b-page1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 30px;
}
.b-page1-calc {
  padding: 0 40px;
  white-space: nowrap;
}
.b-page1-calc label {
  text-align: end;
}
.b-page1-calc select,
.b-page1-calc input {
  width: 100%;
  height: 45px;
}
.b-page1-calc button {
  width: 50%;
  margin: 0 auto;
}
.b-page1-right {
  position: relative;
  margin-left: 30px;
}
.b-page1-text {
  color: var(--color-grey-900);
}
.b-page1-image {
  position: absolute;
  bottom: 0px;
  right: 100px;
  height: 370px;
}
.b-page1-note {
  color: var(--color-grey-800);
  position: absolute;
  top: 30px;
  left: 40px;
}
@media screen and (max-width: 414px) {
  .b-page1,
  .b-page1-text {
    display: block;
  }
  .b-page1-image {
    display: none;
  }
  .b-page1-right {
    margin-top: 30px;
  }
}

/* 第二段 */
.b-page2-dialog {
  position: absolute;
  top: 0;
  right: 50px;
  width: 320px;
  height: 150px;
}
.b-page2-note {
  color: var(--color-grey-800);
  position: absolute;
  top: 45px;
  left: 45px;
}
.b-page2-left {
  width: 30%;
  height: 100%;
}
.b-page2-select {
  border: 1px solid var(--color-grey-800);
  color: var(--color-grey-900);
  width: 50%;
  height: 80%;
  padding: 10px;
  border-radius: 8px;
}
.b-page2-select .times {
  margin-left: 10px;
  cursor: pointer;
}
.b-page2-select .times:hover {
  color: var(--color-grey-800);
}
.b-page2-image {
  position: relative;
  /* margin: 0 auto; */
  width: 35%;
  margin-bottom: 30px;
}
.b-page2-box {
  position: relative;
  height: 380px;
}
.b-page2-up {
  position: absolute;
  z-index: 2;
}
.b-page2-down {
  position: absolute;
  z-index: -1;
}
.b-page2-indside {
  position: absolute;
  width: 100%;
  height: 100%;
}
.b-page2-indside img {
  width: 30%;
}
.b-page2-box-0 {
  position: absolute;
  left: 20%;
}
.b-page2-box-1 {
  position: absolute;
  left: 40%;
  top: 5%;
}
.b-page2-box-2 {
  position: absolute;
  left: 65%;
  top: 10%;
}
.b-page2-box-3 {
  position: absolute;
  left: 20%;
  top: 15%;
}
.b-page2-box-4 {
  position: absolute;
  left: 45%;
  top: 25%;
}
/* slider */
.b-page2-slider {
  margin-bottom: 30px;
}
.b-page2-chevron {
  font-size: 30px;
  cursor: pointer;
  color: var(--color-grey-900);
}
.b-page2-chevron:hover {
  color: var(--color-grey-800);
}
.b-page2-slider-image {
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.b-page2-slider-text {
  text-align: center;
}

@media screen and (max-width: 414px) {
  .b-page2-left,
  .b-page2-image {
    width: 100%;
  }
  .b-page2-dialog {
    display: none;
  }
  .b-page2-menu {
    overflow: hidden;
  }
  .b-page2-box {
    width: 100%;
  }
}
/* 第三段 */
.b-page3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 100px;
}
.b-page3-left {
  justify-content: center;
  position: relative;
}
.b-page3-man {
  height: 300px;
}
.b-page3-text {
  color: var(--color-grey-900);
  position: absolute;
  left: 255px;
  top: 28px;
}
.b-page3-btn {
  display: flex;
  justify-content: flex-end;
}
.b-page3-right {
  height: 320px;
}

@media screen and (max-width: 414px) {
  .b-page3 {
    display: block;
  }
  .b-page3-man {
    display: none;
  }
  .b-page3-image {
    position: relative;
    height: auto;
  }
  .b-page3-text {
    position: relative;
    left: 0;
    top: 0;
    padding-left: 30px;
  }
  .b-page3-btn {
    justify-content: center;
    margin-bottom: 20px;
  }
}
/* Modal */

.b-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  width: 50%;
  background: var(--color-white);
  padding: 30px;
  transition: all 0.3s;
}
.b-modal-box {
  display: flex;
  align-items: flex-end;
}
.b-modal-left {
  position: relative;
  height: 400px;
}
.b-modal-name {
  position: absolute;
  top: 49%;
  left: 24%;
  transform: rotate(24deg);
  color: var(--color-secondary);
  width: 150px;
  z-index: 3;
}
.b-modal-close {
  color: var(--color-grey-800);
  position: absolute;
  right: 0;
  top: 0;
  font-size: 40px;
  padding: 20px;
  border: 1px solid transparent;
  background: transparent;
}
.b-modal-close:hover {
  color: var(--color-grey-900);
}

@media screen and (max-width: 414px) {
  .b-modal {
    width: 90%;
  }
  .b-modal-box {
    display: block;
  }
  .b-modal-right {
    text-align: center;
  }
  .b-modal-name {
    top: 48%;
    left: 16%;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 3px;
    font-weight: 700;
  }
}

/* Modal 深色背景 */
.b-blackbg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
