/* 共同使用 */
.cover-fit {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.contain-fit {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
.b-step {
  padding-top: 20px;
  padding-bottom: 20px;
}
.b-title {
  padding-bottom: 30px;
  margin: 0;
}

/* 按鈕們 */
.b-btn {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 0 40px;
  height: 42px;
  border: 1px solid transparent;
  border-radius: 8px;
}
.b-btnhover,
.b-btnblue:hover {
  background: var(--color-primary-A);
}
.b-btnblue {
  background: var(--color-FBblue);
  color: var(--color-white);
  padding: 0 40px;
  height: 42px;
  border: 1px solid transparent;
  border-radius: 8px;
}

/* 第一段 */

.b-calc {
  margin-bottom: 30px;
  padding: 0 40px;
}
.b-woman {
  background: url('../images/box_woman.png') right bottom no-repeat;
  background-size: auto 370px;
  position: relative;
  margin-bottom: 30px;
}
.b-text1 {
  color: var(--color-grey-800);
  display: inline-block;
  position: absolute;
  top: 35px;
  left: 280px;
}
.b-text2 {
  color: var(--color-grey-900);
  position: absolute;
  bottom: 0;
}

/* 第二段 */
/* .customized {
  height: calc(100vh - 104px);
} */
.b-text3 {
  color: var(--color-grey-800);
}
.b-bento {
  margin: 0 auto;
  width: 560px;
  background: url('../images/box_down.png') no-repeat;
  background-size: 559px auto;
}
.b-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.b-menu .fas {
  display: block;
  font-size: 50px;
  cursor: pointer;
  margin: 0 20px;
  color: var(--color-grey-800);
}

.b-food {
  width: 200px;
  height: 150px;
  margin: 5px 20px;
}
.b-foodtext {
  text-align: center;
}

/* 第三段 */
.b-man {
  height: 350px;
  background: url('../images/box_man.png') left bottom no-repeat;
  background-size: auto 350px;
  position: relative;
}
.b-text4 {
  color: var(--color-grey-900);
  position: absolute;
  top: 50px;
  left: 250px;
}
.b-btngroup {
  position: absolute;
  top: 220px;
  left: 250px;
}

/* Modal */
.b-modal {
  position: relative;
  margin: 30px auto;
  z-index: 500;
  width: 50%;
  border: 1px solid #ccc;
  padding: 20px;
  transition: all 0.3s ease-out;
}
.b-savename {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: rotate(23deg);
  color: var(--color-secondary);
}
.b-btnclose {
  color: var(--color-grey-800);
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 40px;
}
.b-btnclose:hover {
  color: var(--color-grey-900);
}
