.cardShopping-others {
  color: var(--color-grey-900);
}
.cardShopping-others-hr {
  display: block;
  height: 1px;
  background: var(--color-grey-900);
  margin-bottom: 20px;
}
.cardShopping-others h5 {
  font-weight: 700;
}
.cardShopping-others-more {
  margin-right: 60px;
}
.cardShopping-others-more i {
  margin-right: 18px;
}
.cardShopping {
  position: relative;
  width: 306px;
  height: 379px;
  border-radius: 8px;
  margin: auto;
}
.cardShopping-img {
  width: 306px;
  height: 250px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.cardShopping-bookmark {
  position: absolute;
  right: 28px;
  top: 21px;
  color: var(--color-white);
  transform: scale(1, 0.85);
}
.cardShopping-bookmark-stat-box {
  position: absolute;
  width: 113px;
  height: 33px;
  left: 12px;
  top: 207px;
  border-radius: 14px;
  background: #f0f0f0;
}
.cardShopping-bookmark-stat-icon i {
  position: absolute;
  transform: scaleX(24px);
  left: 21px;
  top: 8px;
  color: var(--color-blue-C);
}
.cardShopping-book-mark-num {
  position: absolute;
  width: 46px;
  height: 20px;
  margin-left: 50px;
  margin-top: 6px;
  color: var(--color-secondary);
}
.cardShopping-type {
  position: relative;
  margin-left: 12px;
  color: var(--color-grey-500);
}
.cardShopping-name {
  font-weight: 700;
  position: relative;
  margin-top: 12px;
  margin-left: 12px;
  color: var(--color-grey-900);
}
.cardShopping-price {
  position: relative;
  margin-top: 24px;
  margin-left: 12px;
  margin-bottom: 33px;
  color: var(--color-grey-800);
}
@media only screen and (min-width: 321px) and (max-width: 768px) {
  .cardShopping-others-more {
      margin-right: 0px;
  }
}