.checkout-confirm {
  width: 1320px;
  height: 904px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-top: 136px;
  position: relative;
}

.checkout-confirm div,
.checkout-confirm h5,
.checkout-confirm p,
.checkout-confirm table,
.checkout-confirm tr,
.checkout-confirm tr {
  position: absolute;
}

.checkout-confirm-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color-secondary);
  text-align: center;
  line-height: 40px;
  color: var(--color-white);
  top: 32px;
  left: 65px;
}

.checkout-confirm-title {
  top: 37px;
  left: 112px;
  font-weight: bold;
  color: var(--color-grey-900);
}

.checkout-confirm-w1100 {
  width: 1100px;
  height: 1px;
  top: 72px;
  left: 112px;
  background: var(--color-grey-900);
}

.checkout-confirm-label {
}

.checkout-confirm-input {
  left: 100px;
}

.checkout-confirm-way {
  top: 97px;
  left: 112px;
  width: 500px;
  height: 25px;
}

.checkout-confirm-name {
  top: 152px;
  left: 112px;
  width: 500px;
  height: 25px;
}

.checkout-confirm-address {
  top: 207px;
  left: 112px;
  width: 500px;
  height: 25px;
}

.checkout-confirm-phone {
  top: 262px;
  left: 112px;
  width: 500px;
  height: 25px;
}

.checkout-confirm-email {
  top: 317px;
  left: 112px;
  width: 500px;
  height: 25px;
}

.checkout-confirm-detail {
  top: 372px;
  left: 112px;
  width: 650px;
  height: 212px;
  background: pink;
}

.checkout-confirm-table {
  top: 0px;
  left: 116px;
}

.checkout-confirm-table tr {
  top: 15px;
  margin: 15px;
  background: #fff;
  width: 500px;
  /* padding: 15px; */
}
