.checkout-personal-data {
  width: 1320px;
  height: 936px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-top: 136px;
  position: relative;
}

.checkout-personal-data h5,
.checkout-personal-data h6,
.checkout-personal-data p,
.checkout-personal-data div,
.checkout-personal-data button {
  position: absolute;
}

.form-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 32px;
  left: 65px;
  background: var(--color-secondary);
  color: #fff;
  line-height: 40px;
  text-align: center;
}

.checkout-personal-data-title {
  font-weight: bold;
  top: 37px;
  left: 112px;
  color: var(--color-grey-900);
}

.checkout-personal-data-w1100 {
  width: 1100px;
  height: 1px;
  top: 72px;
  left: 114px;
  background: var(--color-grey-900);
}

.checkout-personal-data-label {
  top: 14px;
  right: 338px;
  position: absolute;
}

.checkout-personal-data-input {
  padding: 20px;
}

.checkout-personal-data-input,
.checkout-personal-data-btn {
  top: 0px;
  left: 144px;
  position: absolute;
  width: 306px;
  height: 45px;
  border: 1px solid #555;
}

.checkout-personal-data-name {
  width: 450px;
  height: 45px;
  top: 105px;
  left: 76px;
}

.checkout-personal-data-phone {
  width: 450px;
  height: 45px;
  top: 199px;
  left: 76px;
}

.checkout-personal-data-email {
  width: 450px;
  height: 45px;
  top: 285px;
  left: 76px;
}

.checkout-personal-data-paying {
  width: 450px;
  height: 45px;
  top: 371px;
  left: 76px;
}

.paying-dropdown-btn li {
  width: 294px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  padding: 0px;
}

.paying-dropdown-btn li:hover {
  background: var(--color-primary);
}

.checkout-personal-data-checkout-area {
  width: 1318px;
  height: 101px;
  bottom: 51px;
}

.checkout-personal-data-checkout-area .btn {
  width: 205px;
  height: 43px;
  border-radius: 100px;
}

.checkout-personal-data-checkout-area .btn:focus {
  box-shadow: 0px 0px 10px rgba(255, 153, 0, 0.7);
}

.checkout-personal-data-back-btn {
  top: 48px;
  left: 50px;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.checkout-personal-data-checkout-area p {
  top: 10px;
  left: 1029px;
  letter-spacing: 0px;
  color: var(--color-red-C);
}

.checkout-personal-data-checkout-area h6 {
  top: 10px;
  left: 1164px;
  font-weight: bold;
  color: var(--color-red-C);
}

.checkout-personal-data-next-btn {
  top: 48px;
  left: 1050px;
  color: #fff;
  background: var(--color-primary);
}
