.fw-list {
  display: flex;
  align-items: flex-start;
  margin: 20px 0px 20px 0px;
  height: 160px;
}
/*img*/
.fw-img {
  max-width: 160px;
  height: 150px;
}
/*日期選擇*/
.fw-date {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.fw-cards {
  max-width: 210px;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}
.fw-btn {
  width: 100%;
  /* cursor: pointer; */
  display: block;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  padding: 6.5px 55.5px 6.5px 55.5px;
  color: var(--color-primary);
  /* text-decoration: none; */
  text-align: center;
}
.fw-cards p {
  height: 100px;
  padding: 10px 5px 0px 5px;
}
/* .fw-cards a:hover:not(p a:hover) {
  color: var(--color-white);
  background-color: var(--color-primary);
} */

.fw-cards p a {
  display: block;
  margin-bottom: 5px;
  color: var(--color-grey-900);
}
.fw-cards p a:link {
  text-decoration: none;
}
.fw-cards p a:hover {
  color: var(--color-primary);
}
