/* Img模組 */
.f-cover-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* icon模組*/
.fc-icon-size {
  font-size: 24px;
}

.fc-cards {
  position: relative;
  width: 525px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

/* 食譜照片 */
.fc-food-img {
  width: 275px;
  height: 275px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid var(--color-white);
  position: relative;
  z-index: 2;
}

/* cards */
.fc-cards-bg {
  background: var(--color-grey-300);
  width: 387px;
  height: 255px;
  border-radius: 16px;
  position: absolute;
  right: 0;
  top: 10px;
}
.fc-avatar {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 3px solid var(--color-white);
  overflow: hidden;
  position: absolute;
  top: 30px;
  right: 24px;
}

/* content */
.fc-content {
  width: 250px;
  position: absolute;
  top: 30px;
  right: 10px;
  padding: 0px 20px 0px 30px;
}
.fc-class {
  color: var(--color-grey-800);
}
.fc-title {
  color: var(--color-secondary);
}
.fc-logo {
  width: 19px;
  height: 100%;
}
.fc-link-font {
  color: var(--color-grey-800);
}
.fc-content-down {
  width: 240px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.fc-icon-num {
  padding: 5px;
}
.fc-icon-line {
  border: 1px solid var(--color-white);
}
