.fsw-btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px auto;
}
.fsw-btn {
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  padding: 8.5px 62.5px 8.5px 62.5px;
  color: var(--color-primary);
  background-color: var(--color-white);
  margin: 0px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
}
.fsw-btn:hover {
  color: var(--color-primary);
}

/*一周準備食材*/
.fsw-preptitle {
  display: block;
  background-color: var(--color-secondary);
  color: var(--color-white);
  padding: 20px 0px 20px 0px;
  text-align: center;
}
.fsw-prepfoodgroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.fsw-prepfood {
  width: 250px;
  padding: 20px;
  display: flex;
  margin: 0px 0px 10px 0px;
  justify-content: space-around;
  background-color: var(--color-grey-300);
  color: var(--color-grey-900);
}
