.fcolor-primary {
  color: var(--color-primary);
}
.fcolor-secondary {
  color: var(--color-secondary);
}
.fcolor-primary-A {
  color: var(--color-primary-A);
}
.fcolor-primary-E {
  color: var(--color-primary-E);
}
.fcolor-red-C {
  color: var(--color-red-C);
}
.fcolor-orange-lee {
  color: var(--color-orange-lee);
}
.fcolor-blue-B {
  color: var(--color-blue-B);
}
.fcolor-blue-C {
  color: var(--color-blue-C);
}
.fcolor-brown-D {
  color: var(--color-brown-D);
}
.fcolor-FBblue {
  color: var(--color-FBblue);
}
.fcolor-grey-300 {
  color: var(--color-grey-300);
}
.fcolor-grey-500 {
  color: var(--color-grey-500);
}
.fcolor-grey-800 {
  color: var(--color-grey-800);
}
.fcolor-grey-900 {
  color: var(--color-grey-900);
}
.fcolor-white {
  color: var(--color-white);
}

/* icon模組*/
.ficon-size {
  max-width: 24px;
  max-height: 24px;
}

/* line 模組*/
.fline-g500 {
  border: 1px solid var(--color-grey-500);
}
.fline-g300 {
  border: 1px solid var(--color-grey-300);
}

/* Img模組 */
.fcover-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* DropDowm模組*/
.fdropdown-mf {
  display: flex;
  justify-content: end;
  margin: 20px 0px 20px 0px;
}
/* Paging模組 */
.fpaginf-mf {
  margin: 30px 0px 65px 0px;
  display: flex;
  justify-content: center;
}
/* CardShopping模組*/
.fcardshop-mb {
  margin-bottom: 65px;
}
.hb-100vh {
  height: calc(100vh - 148px);
  width: 100%;
  /* overflow: hidden; */
  position: relative;
}
