/*外層容器*/
.fintro-boxsize {
  width: 650px;
  max-height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*IG-Link*/
.fintro-ig {
  max-width: 400px;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fintro-avatar-bg {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    243.35deg,
    #3542e0 -1.42%,
    #3841df 16.37%,
    #403fda 27.17%,
    #4e3cd2 36.13%,
    #6337c7 44.06%,
    #7d31b9 51.33%,
    #9e2aa8 58.09%,
    #c32193 64.36%,
    #c82091 65.05%,
    #f62b37 79.97%,
    #ffc658 105.87%
  );

  background-size: cover;
  margin: 0;
}
.fintro-avatar {
  width: 49px;
  height: 49px;
  border-radius: 50%;
}

/*收藏btn*/
.fintro-btngroup {
  display: flex;
  flex-direction: column;
}
.fintro-btnlike {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  border: 1px solid var(--color-red-C);
  background-color: transparent;
  color: var(--color-red-C);
  margin-bottom: 15px;
}
.fintro-btnlike-active {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  border: 1px solid var(--color-primary-E);
  background-color: var(--color-primary-E);
  color: var(--color-white);
  margin-bottom: 15px;
}
.fintro-btnsave {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  border: 1px solid var(--color-secondary);
  background-color: transparent;
  color: var(--color-secondary);
}
.fintro-btnsave-active {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  border: 1px solid var(--color-secondary);
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.fintro-bmbtn p,
.fintro-bmbtn i {
  margin: 0;
}
.fintro-bmbtn:hover {
  background-color: var(--color-primary-A);
  border: none;
  color: var(--color-white);
}
.fintro-bmbtn:active {
  background-color: var(--color-secondary);
  border: none;
  color: var(--color-white);
}
