.findex-box {
  max-width: 1695px;
  margin: 0 auto;
}
.findex-dropdowm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px 0px;
}
.findex-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
