/* 共同使用 */
.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer li a,
.footer li a:hover {
  color: var(--color-grey-900);
  text-decoration: none;
}

/* footer-top */
.footer-mask {
  background: var(--color-grey-300);
  margin: 0 auto;
  padding: 30px 0;
}
.footer-top {
  width: 60%;
  margin: 0 auto;
}
.footer-title {
  color: var(--color-grey-900);
  text-align: start;
}
.footer-top ul {
  display: block;
}
.footer-top li {
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 3px;
  height: 20px;
  margin: 10px 0;
  text-align: left;
}

/* bottom  */
.footer-bottom {
  width: 60%;
  margin: 0 auto;
  padding: 10px 0;
}
.footer-bottom ul {
  display: flex;
}

.footer-bottom li {
  border-right: 1px solid var(--color-grey-500);
  height: 20px;
  margin: 15px 5px;
  min-width: 100px;
  text-align: center;
}

.footer {
  margin-top: 60px;
}

