.header-bar {
  font-size: 18px;
  display: flex;
  height: 104px;
  /* 黏在頁面最上面 */
  position: fixed;
  top: 0px;
  background: var(--color-white);
  width: 100%;
  z-index: 2;
}

.header-bar a {
  color: var(--color-grey-900);
  text-decoration: none;
}

.logo {
  margin: 0px 20px 0px 80px;
}

.header-bar-main-ul {
  list-style: none;
  display: flex;
  font-size: 18px;
  margin-top: 15px;
}

.header-bar ul li {
  margin: 10px 5px;
  min-width: 100px;
  height: 40px;
  text-align: center;
}

/* 搜尋欄開始 */
.input-group {
  height: 45px;
}

.input-dropdown {
  min-width: 90px;
  height: 120px;
}

.dropdown-menu li a:focus {
  background: var(--color-grey-800);
}

.search-input:focus {
  box-shadow: 0px 0px 10px rgba(96, 96, 96, 0.5);
  outline: rgba(96, 96, 96, 0.5) solid 4px;
  border: 1px solid #606060;
}

.input-group button {
  border: 1px solid var(--color-grey-800);
}

.form-control {
  border: 1px solid var(--color-grey-800);
  max-width: 400px;
}
/* 搜尋欄結束 */

/* 購物車開始 */
.cart-btn {
  margin: 10px -10px 0px 10px;
  cursor: pointer;
}

.gray-circle {
  margin: auto;
  width: 50px;
  height: 50px;
  background: var(--color-grey-300);
  border-radius: 50%;
  align-items: center;
  position: relative;
}

.shopping-cart {
  position: absolute;
  top: calc(50% - 12px);
  right: calc(50% - 12px);
}
/* 購物車結束 */

/* 使用者開始 */
.user-btn {
  cursor: pointer;
}

.user {
  min-width: 48px;
  height: 48px;
}

.user-dropdown hr {
  margin: -10px 0px 0px;
}

.user-dropdown li {
  margin: 5px;
}
/* 使用者結束 */

/* 這是中間拿來隔開主選單跟搜尋欄的box */
.box {
  width: 300px;
}

/* 選取(當前頁面)開始 */
.header-active a {
  color: var(--color-primary);
}

.header-active {
  border-bottom: 2px solid var(--color-primary);
}
/* 選取(當前頁面)結束 */

/* 因為把header黏在最上面，放一個一樣高的box不讓下面的東西往上跑 */
.h104 {
  height: 104px;
}
