/* 共同 */
.home-height {
  /* height: calc(100vh - 104px); */
  overflow: hidden;
  position: relative;
}
.home-cover-fit {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.h-btn {
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 8px;
  padding: 7px 40px;
  height: 42px;
}
.h-btn:hover {
  color: var(--color-white);
  background: var(--color-primary-A);
}
a,
a:hover {
  text-decoration: none;
}
/* 便當 */
.home-page1 {
  height: calc(100vh - 104px);
  background: url('../images/home_bg1.png') center center no-repeat;
  background-size: cover;
}
.p1-dialog {
  color: var(--color-grey-800);
  position: absolute;
  top: 50px;
  left: 57%;
}
.p1-title {
  color: var(--color-secondary);
  position: absolute;
  top: 200px;
  left: 65%;
}
.p1-entitle {
  color: var(--color-white);
  position: absolute;
  top: 330px;
  left: 67%;
}
.p1-btn {
  position: absolute;
  top: 510px;
  left: 63%;
}

/* 精選食譜 */
.home-page2 {
  height: calc(100vh - 104px);
  background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.7)),
    url('../images/home_bg2.png') top center no-repeat;
  background-size: cover;
  padding: 50px;
}
.p2-top {
  padding-right: 200px;
}
.p2-top-title {
  color: var(--color-primary);
}
.p2-top-subtitle {
  color: var(--color-grey-500);
}
.p2-top-image figure {
  margin: 50px;
  width: 600px;
  height: 400px;
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
}
.p2-top-classify,
.p2-top-name {
  color: var(--color-white);
}
/* 第二頁下半部 */
.p2-bottom {
  margin: 0 auto;
  width: 1075px;
  height: 300px;
  background: var(--color-secondary);
  opacity: 0.9;
  border-radius: 54px;
  padding: 20px 20px;
  position: relative;
}
.p2-bottom-card {
  width: 165px;
  height: 260px;
  border-radius: 15px;
  padding: 10px;
  z-index: 3;
}
.p2-bottom-card:hover {
  width: 165px;
  height: 260px;
  border-radius: 15px;
  padding: 10px;
  z-index: 3;
  background: rgba(255, 255, 255, 0.2);
}
/* 按下去產生這個class */
.p2-bottom-card-hover {
  width: 165px;
  height: 260px;
  border-radius: 15px;
  padding: 10px;
  z-index: 3;
  background: rgba(255, 255, 255, 0.2);
}

.p2-bottom-text {
  text-align: center;
}
.p2-bottom-image {
  width: 133px;
  height: 133px;
}
.p2-bottom-title {
  color: var(--color-white);
  height: 60px;
}
.p2-bottom-subtitle {
  color: var(--color-white);
}

/* 私藏食譜 */
.home-page3 {
  height: calc(100vh - 104px);
  background: url('../images/home_bg3.png') bottom left no-repeat;
  background-size: cover;
}
.plate {
  height: 500px;
  background: url('../images/home_plate.png') top center no-repeat;
  background-size: 500px;
}

/* 商城 */
/* 要記得放入margin-bottom: -60px; */
