/*便當*/
.h-bento-bg {
  background: url('../images/homebento_bg.png') center center;
  background-size: cover;
}
.h-bento-articlegroup {
  position: absolute;
}
.h-bento-dialog {
  max-width: 300px;
}
.h-bento-group {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0px 0px 0px;
}
.h-bento-img {
  max-width: 900px;
  padding: 0px 0px 0px 0px;
}
.h-bento-contentgroup {
  display: flex;
  flex-direction: column;
  width: 900px;
}
.h-bento-titlegroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h-bento-title {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 9.5px;
  color: var(--color-secondary);
  text-align: center;
  margin-bottom: 60px;
  line-height: 100px;
}
.h-bento-subtitle {
  max-width: 480px;
  margin-bottom: 60px;
}
/* 向下箭頭*/
.h-bento-arrowdown {
  font-size: 35px;
  text-align: center;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: 50px;
  z-index: 1;
  color: var(--color-secondary);
}

/*精選食譜*/
.h-feature-bg {
  background: url('../images/homefeature_bg.jpg') center center;
  background-size: cover;
}
/*左邊標題*/
.h-feature-titleleft {
  position: absolute;
  left: 3%;
  top: 15%;
}
/*中間內容*/
.f-feature-contentgroup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 200px 80px;
}
.f-feature-contentbigimg {
  width: 580px;
  filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, 0.25));
}

/*下面內容*/
.f-feature-bottomgrouop {
  position: absolute;
  width: 1080px;
  height: 280px;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: 8%;
  background: rgba(0, 0, 0, 0.66);
  border-radius: 54px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 60px;
}
.f-feature-cardsgroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.f-feature-card {
  width: 165px;
  height: 257px;
  border-radius: 15px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
  text-decoration: none;
}
.f-feature-card:hover {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.25);
}
.f-feature-cardimg {
  width: 130px;
  height: 130px;
}
.f-feature-card p {
  height: 85px;
  display: inline-block;
  text-align: center;
  padding: 10px 0px 0px 0px;
  margin: 0px;
}
.f-feature-icon {
  color: var(--color-white);
}
/* 向下箭頭*/
.h-feature-arrowdown {
  font-size: 35px;
  text-align: center;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: 10px;
  z-index: 1;
  color: var(--color-white);
}
/*背景漸變*/
.h-feature-gradientbg {
  height: 500px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

/*私藏食譜*/
.h-recipe-bg {
  background: url('../images/homerecipe_bg.jpg') center no-repeat;
  background-size: 2100px auto;
}
.h-recipe-content {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 100px 120px 0px 0px;
}
/*左邊標題*/
.h-recipe-titlegroup {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 120px 50px;
}
.h-recipe-titlegroup h1 {
  margin: 0px 0px 50px 0px;
}
/*右邊內容*/
.h-recipe-imggroup {
  display: flex;
  align-items: center;
}
/*中間大圖*/
.f-recipe-plateimg {
  position: relative;
}
.h-recipe-plate {
  max-width: 750px;
}
.f-recipe-img {
  width: 550px;
  height: 550px;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  top: 14%;
  left: 13%;
}
/*右邊小圖*/
.h-recipe-cardsgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 0px 50px;
}
.h-recipe-cards {
  text-align: center;
  margin: 6px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h-recipe-cardimg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px 0px;
}
/* 向下箭頭*/
.h-recipe-arrowdown {
  font-size: 35px;
  text-align: center;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: 1;
  color: var(--color-secondary);
}

/*購物商城*/
.h-shop-bg {
  background: url('../images/homeshop_bg.png') -500px no-repeat;
  background-size: 1525px auto;
}
/*右邊標題*/
.h-shop-titlegroup {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 8%;
  top: 20%;
  z-index: 2;
}
.h-shop-title {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.h-shop-titlebtn {
  display: inline-block;
  background: var(--color-primary);
  padding: 8.5px 40px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--color-white);
  text-decoration: none;
}
.h-shop-titlebtn:hover {
  color: var(--color-white);
}
/*圖片內容*/
.h-shop-cardgroup {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 200px;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
}
.h-shop-cardimg {
  margin: 0px 10px;
}
.h-shop-imgbigclass {
  width: 610px;
  height: 490px;
  border-radius: 4px;
  background: var(--color-white);
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.h-shop-imgbig {
  width: 600px;
  height: 480px;
  border-radius: 4px;
  position: absolute;
  top: 5px;
  left: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.h-shop-cardfont {
  max-width: 550px;
  text-align: center;
  padding: 20px 0px 0px 0px;
  margin: 0 auto;
}
.h-shop-cardfont p {
  margin: 0px 0px;
}
.h-shop-cardfont h5 {
  margin: 0px 0px 20px 0px;
}
.h-shop-imgclass {
  width: 320px;
  height: 290px;
  border-radius: 4px;
  background: var(--color-white);
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 10px 0px 0px 0px;
}
.h-shop-img {
  width: 310px;
  height: 280px;
  border-radius: 4px;
  position: absolute;
  top: 5px;
  left: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.h-shop-cardline {
  width: 220px;
  border: 1px solid var(--color-white);
  margin: 0 auto;
}
.h-shop-cardfontsmall {
  max-width: 310px;
  text-align: center;
  margin: 0 auto;
}
.h-shop-cardfontsmall p {
  margin: 0px 0px;
}
.h-shop-cardfontsmalltwo {
  max-width: 200px;
  text-align: center;
  margin: 0 auto;
}
.h-shop-cardfontsmall p {
  margin: 0px 0px;
}
/*footer*/
.h-footer {
  /* height: 100px; */
  position: absolute;
  /* margin-top: -300px; */
}
.h-footer-div {
  height: 305px;
}
.h-footer-100vh {
  position: relative;
  top: 0;
}
.h-footer-logo {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
}
