/* 登入 */
.login {
  width: 100%;
  background-color: var(--color-primary);
  padding: 150px 0;
}

.login-container {
  max-width: 1320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.login-logo {
  width: 42%;
  max-width: 560px;
  margin-right: 10%;
}

.login-logo figure img {
  width: 100%;
  height: 100%;
}

.login-logo h4 {
  color: var(--color-white);
}

.login-form {
  width: 42%;
  max-width: 531px;
  /* height: 668px; */
  background: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form h4 {
  margin: 60px 0 30px;
}

.login-form form {
  width: 381px;
}

.login-form form > input {
  width: 100%;
  height: 45px;
  margin-top: 20px;
}

.login-form-loginBtn {
  width: 100%;
  height: 43px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 8px;
  border: none;
}

.login-form-errorMsg {
  opacity: 0;
  margin: 0;
}

.login-setting {
  display: flex;
  justify-content: space-between;
  margin: 14px 0 34px;
}

.quickLogin {
  display: flex;
  align-items: center;
  line-height: 43px;
}

.quickLogin-googleBtn {
  width: 218px;
  height: 43px;
  background-color: var(--color-white);
  color: var(--color-grey-800);
  border: none;
  margin-right: 10px;
  display: flex;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.084))
    drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.168));
}
.quickLogin-googleBtn div {
  width: 40px;
  height: 40px;
  background: url('../images/btn_google_light_normal_ios.svg') no-repeat;
  margin-right: 10px;
}

.quickLogin-facebookBtn {
  width: 232px;
  height: 43px;
  background-color: var(--color-FBblue);
  color: var(--color-white);
  border: none;
  display: flex;
  align-items: center;
}
.quickLogin-facebookBtn i {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  font-size: 22px;
  line-height: 43px;
}

.shoppingRule {
  color: var(--color-grey-500);
  text-align: center;
  padding: 50px 24px 20px;
  border-bottom: 1px solid var(--color-grey-500);
}
.shoppingRule strong {
  color: var(--color-grey-900);
}

.login-registerText {
  color: var(--color-grey-500);
  margin-bottom: 60px;
}
.login-registerText a {
  text-decoration: none;
  color: var(--color-primary);
}
