/* 會員專區共用的表單 */
.member-form {
  /* width: 90%; */
  max-width: 1320px;
  margin: auto;
  /* margin-top: 72px; */
  padding: 30px 60px;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
}

.member-form-title {
  display: flex;
  align-content: center;
}
.member-form-title-icon {
  width: 40px;
  height: 40px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* .member-form-title-icon svg {
  width: 100%;
  height: 20px;
  color: var(--color-white);
} */

.member-form-title-icon .icon-file {
  width: 100%;
  height: 20px;
  color: var(--color-white);
}

.member-form-title h5 {
  width: 100%;
  line-height: 40px;
  border-bottom: 1px solid var(--color-secondary);
}

.member-form-group-content {
  width: 100%;
  margin: 30px 0;
  position: relative;
}

.member-form-group {
  margin-top: 10px;
}
.member-form-group label {
  /* line-height 跟 input 設定一樣高 */
  line-height: 45px;
  text-align: right;
  vertical-align: middle;
}

.member-form-group input:not(.member-form-group-gender input) {
  width: 100%;
  height: 45px;
}
.member-form-group-gender input {
  /* line-height 跟 input 設定一樣高 */
  line-height: 45px;
  vertical-align: middle;
  margin: 0 10px;
}

.member-form-errorMsg {
  color: var(--color-red-C);
  margin: 0 0 0 5px;

  /* 暫時隱藏錯誤訊息 */
  opacity: 0;
}

.member-form-submitBtn {
  width: 200px;
  height: 43px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 8px;
  border: none;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-form-group-picture {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0;
  right: 0;
}
.member-form-group-picture figure {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  border-radius: 50%;
}
.member-form-group-picture img {
  width: 100%;
  height: 100%;
}

/* 修改密碼 */
.member-form-editPasswordBtn {
  width: 100px;
  height: 26px;
  background-color: var(--color-white);
  color: var(--color-primary);
  border-radius: 8px;
  border: none;
  position: absolute;
  top: -68px;
  right: 0;
}

.member-form-editPasswordBtn .icon-pen {
  /* width: 16px; */
  /* height: 16px; */
  line-height: 26px;
  vertical-align: middle; 
  padding: 1px 8px 2px 0;
}

/* 註冊頁面的客製版 */
.member-form-forRegister {
  /* margin-top: 72px; */
  margin-top: 176px;
}

/* 會員資料修改頁面的客製版 */
.member-form-forEditMemberInfo {
  margin: 32px auto 40px;
}


/* 會員商品收藏 */
.memberSaveProduct-container {
  max-width: 1320px;
  margin: 0 auto;
  text-align: center;
}

/* .memberSaveProduct-filter{
  width: 100%;
} */

.memberSaveProduct-filter .melees-dropdown{
  z-index: 1;
  margin-left: auto;
  text-align: left;
}