/* 會員食譜評論 */
.memberRecipeComment-container {
  max-width: 1320px;
  margin: 20px auto 0;
}

.memberRecipeComment-table {
  width: 100%;
  border: 1px solid var(--color-secondary);
  margin-top: 20px;
  border-radius: 4px;
}

/* 基本設定 */
.memberRecipeComment-table p,
.memberRecipeComment-table .row {
  margin: 0;
}

/* 表格標題 */
.memberRecipeComment-table-title {
  border-bottom: 2px solid var(--color-grey-500);
}

.memberRecipeComment-table-title p {
  padding: 20px 12px;
}

.memberRecipeComment-table-title p:first-child {
  padding-left: 30px;
}

/* 表格內容-食譜照片 */
.memberRecipeComment-figure {
  display: flex;
  align-items: center;
  padding: 16px 0 16px 30px;
  margin: 0;
}

.memberRecipeComment-figure img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.memberRecipeComment-figure figcaption {
  margin-left: 10px;
}

/* 表格內容-食譜評分 */
.memberRecipeComment-score .icon-star {
  color: var(--color-primary-A);
}

.memberRecipeComment-score span {
  margin-left: 10px;
}
.memberRecipeComment-score p {
  margin-top: 10px;
}

/* 表格內容-食譜評論文字 */
.memberRecipeComment-text {
  color: var(--color-grey-900);

  /* 多行文字過長溢出省略 */
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* 最多 3 行 */
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* 表格內容-icon設定 */
.memberRecipeComment-iconGroup button {
  width: 40px;
  height: 40px;
  line-height: 20px;
  text-align: center;
  background-color: var(--color-white);
  color: var(--color-grey-800);
  border: 1px solid var(--color-secondary);
  border-radius: 50%;
  padding: 8px;
  margin-right: 25px;
}

.memberRecipeComment-iconGroup  button:hover {
  color: var(--color-primary-A);
  border: 1px solid var(--color-primary-A);
}

.memberRecipeComment-filter .melees-dropdown{
    z-index: 1;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
