.member-box-top {
  padding: 20px 0;
}

.member-box-bottom {
  padding-bottom: 20px;
}

.member-box-card {
  padding: 20px 0;
}
.member-box-food {
  color: var(--color-grey-500);
  text-align: center;
  padding-top: 10px;
}

.member-box-detail ul {
  display: block;
}
.member-box-detail li {
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 3px;
  height: 20px;
  margin: 10px 0;
  text-align: left;
}

.member-box-title {
  color: var(--color-grey-900);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.member-box-content {
  color: var(--color-grey-800);
}
