/* table 設定 */
.MyPecipe-table {
  width: 100%;
}
.MyPecipe-table thead {
  background: var(--color-primary);
}
.MyPecipe-table th {
  padding-left: 19px;
  color: var(--color-white);
}
.MyPecipe-table th:first-child {
  border-top-left-radius: 5px;
  padding: 19px;
}
.MyPecipe-table th:last-child {
  border-top-right-radius: 5px;
  padding-left: 35px;
}
.MyPecipe-tbody td:first-child {
  padding-top: 15px;
  padding-left: 19px;
}
.MyPecipe-tbody td {
  padding-left: 19px;
}
.MyPecipe-tbody td {
  color: var(--color-secondary);
}

/* 食譜照片 css */
.MyPecipe-tbody-avatar figure {
  width: 72px;
  height: 72px;
  margin-right: 20px;
  border-radius: 50px;
  overflow: hidden;
}
.MyPecipe-tbody-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.MyPecipe-tbody-avatar div:first-child {
  margin-top: 4px;
}
.MyPecipe-tbody-avatar div:last-child {
  margin-top: 6px;
}

/* 評分數 css */
.MyPecipe-tbody-star div:first-child {
  margin-bottom: 10px;
  color: var(--color-primary-A);
}
.MyPecipe-tbody-star span {
  margin-top: 2px;
  margin-left: 10px;
  color: var(--color-secondary);
}
.MyPecipe-tbody-star div:last-child {
  color: var(--color-secondary);
}

/* 編輯跟刪除 */
.MyRecipe-edit {
  width: 43px;
  height: 43px;
  border-radius: 50px;
  border: 1px solid var(--color-secondary);
}
.MyRecipe-edit-icon {
  height: 100%;
  color: var(--color-secondary);
}

.MyRecipe-delete {
  width: 43px;
  height: 43px;
  border-radius: 50px;
  border: 1px solid var(--color-secondary);
}
.MyRecipe-delete-icon {
  height: 100%;
  color: var(--color-secondary);
}
