.MyRecipe-state-container {
  margin-top: 32px;
  height: 208px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  background: var(--color-white);
}
.MyRecipe-state-container a {
  text-decoration: none;
}
.MyRecipe {
  height: 100%;
}
.MyRecipe h2 {
  color: var(--color-primary);
}

.MyRecipe span {
  color: var(--color-secondary);
}
.MyRecipe-upload-btn {
  width: 205px;
  height: 45px;
  border-radius: 8px;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}
.MyRecipe-upload-btn span {
  color: var(--color-primary);
}
.MyRecipe-upload-text {
  height: 100%;
}
.MyRecipe-upload-text span {
  margin-left: 13px;
}
