.member-box-card {
  padding-bottom: 50px;
}
.member-box-indside {
  position: absolute;
  width: 100%;
  height: 100%;
}
.member-box-indside img {
  position: absolute;
  left: 17%;
  top: 3%;
  width: 320px;
  height: 220px;
}
.member-box-prep {
  color: var(--color-grey-500);
  text-align: center;
}
.member-box-detail ul {
  margin: 0 50px;
}
.member-box-detail li {
  margin: 10px 0;
  text-align: left;
}
.member-box-content {
  color: var(--color-grey-800);
  display: flex;
  align-items: center;
}
.member-box-cal {
  color: var(--color-grey-900);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.member-box-content button {
  width: 40px;
  height: 40px;
  line-height: 20px;
  text-align: center;
  background-color: var(--color-white);
  color: var(--color-grey-800);
  border: 1px solid var(--color-secondary);
  border-radius: 50%;
  padding: 8px;
  margin-right: 25px;
  transition: 0.5s;
}
.member-box-content button:hover {
  color: var(--color-primary-A);
  border: 1px solid var(--color-primary-A);
}

/* modal */
.member-box-icon {
  border: 7px solid var(--color-red-C);
  border-radius: 100%;
}
.member-box-icon > .exclamation {
  color: var(--color-red-C);
  font-size: 100px;
  margin-top: 25px;
}

/* saveproduct */
.product-img > .bookmark-active {
  color: var(--color-blue-C);
}
.member-notice a {
  color: var(--color-grey-900);
  text-decoration: none;
}
.member-notice a:hover {
  color: var(--color-grey-800);
}
