/* 訂單進度條 */
.progressBar {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.progressBar li {
  width: 70px;
  /* height: 140px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.progressBar li + li {
  margin-left: 70px;
}

.progressBar li + li::before {
  content: '';
  position: absolute;
  width: 150px;
  height: 6px;
  background-color: var(--color-secondary);
  z-index: -1;
  top: 18px;
  bottom: 0;
  left: -110px;
  /* margin: auto; */
}

.progressBar li.active {
  border: none;
}

.progressBar li.active ~ li .progressBar-icon {
  background-color: var(--color-primary);
}

.progressBar li.active ~ li .progressBar-text {
  color: var(--color-primary);
}

.progressBar li.active ~ li::before {
  background-color: var(--color-primary);
}

.progressBar-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

.progressBar-text {
  color: var(--color-secondary);
  padding-top: 10px;
}

/* 訂單查詢 */
.orderList-container {
  max-width: 1320px;
  margin: 20px auto 40px;
}
.orderList-title {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 50px;
}

.orderList-refundBtn {
  width: 205px;
  height: 43px;
  border: none;
  border-radius: 8px;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.orderList-table {
  width: 100%;
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  text-align: center;
}

.orderList-table thead {
  border-bottom: 2px solid var(--color-grey-500);
}
.orderList-table th {
  color: var(--color-grey-900);
  padding: 13.5px 0;
}

.orderList-table tbody tr:nth-child(even) {
  background-color: var(--color-grey-300);
}
.orderList-table tbody td {
  padding: 24px 0;
}

.orderList-table tbody td a {
  text-decoration: none;
  color: var(--color-primary);
}

.orderList-table tbody td .icon-info {
  color: var(--color-primary);
}

.orderList-table tbody td a:hover {
  text-decoration: underline;
  color: var(--color-primary-A);
}

.orderList-table tbody td a:hover .icon-info {
  color: var(--color-primary-A);
}

/* 訂單明細的客製版 */
.member-form-forOrderDetail {
  margin-top: 30px;
}
/* 付款方式與寄送資料 */
.member-form-group-content-forPayInfo {
  margin: 0 0 30px 0;
}
.member-form-forOrderDetail .orderDetail-payInfo {
  list-style: none;
  color: var(--color-grey-800);
  margin-left: 16px;
}
.member-form-forOrderDetail .orderDetail-payInfo li {
  padding: 20px 0;
  border-bottom: 1px solid var(--color-grey-500);
}
.member-form-forOrderDetail .orderDetail-payInfo li strong {
  margin-right: 26px;
}
/* 注意事項 */
.member-form-forOrderDetail .orderDetail-notes {
  color: var(--color-grey-800);
  margin-left: 40px;
}
.member-form-forOrderDetail .orderDetail-notes li {
  line-height: 36px;
}
.member-form-forOrderDetail .orderDetail-notes li a {
  color: var(--color-primary);
  text-decoration: none;
}
.member-form-forOrderDetail .orderDetail-notes li strong {
  color: var(--color-red-C);
  font-weight: 400;
}

.member-form-forOrderDetail .sumGroup {
  width: 250px;
  /* background-color: #e0e0e0; */
  margin-left: auto;
  padding-top: 20px;
}
.member-form-forOrderDetail .sumGroup-item {
  display: flex;
  justify-content: right;
  text-align: right;
  padding-bottom: 16px;
}

.member-form-forOrderDetail .sumGroup-item-subtitle {
  width: 110px;
  /* margin-right: 20px; */
  color: var(--color-grey-800);
}

.member-form-forOrderDetail .sumGroup-item-total {
  color: var(--color-red-C);
  border-top: 1px solid var(--color-grey-800);
  padding-top: 16px;
}

.member-form-forOrderDetail .sumGroup-item-money {
  margin-left: auto;
}

.member-form-group-content-forOrderDetail {
  padding-left: 48px;
}

.orderDetail-row {
  width: 100%;
  /* width: 1318px; */
  height: 176px;
  position: relative;
  border-bottom: 1px solid var(--color-grey-500);
}

.orderDetail-row img,
.orderDetail-row p,
.orderDetail-row h6,
.orderDetail-row h5,
.orderDetail-row div,
.orderDetail-row .btn {
  position: absolute;
}

.orderDetail-row img {
  width: 193px;
  height: 152px;
  border-radius: 4px;
  top: 12px;
  left: 30px;
}

.orderDetail-name {
  font-weight: bold;
  color: var(--color-grey-900);
  top: 40px;
  left: 308px;
}

.orderDetail-activity {
  text-align: start;
  color: var(--color-grey-800);
  top: 76px;
  left: 308px;
}

.orderDetail-price {
  font-weight: bold;
  color: var(--color-grey-900);
  top: 74px;
  left: 700.2px;
}

.orderDetail-amount {
  background: var(--color-grey-300);
  width: 125px;
  height: 43px;
  line-height: 43px;
  border-radius: 100px;
  top: 66.5px;
  left: 835.8px;
  text-align: center;
}

.orderDetail-total {
  font-weight: bold;
  color: var(--color-grey-900);
  top: 74.5px;
  left: 1010px;
}

.orderDetail {
  width: 1320px;
  height: 900px;
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  margin-top: 120px;
}

.orderDetail-title {
  height: 38px;
  width: 100%;
  position: relative;
  border-bottom: 2px solid var(--color-grey-500);
}

.orderDetail-title p {
  position: absolute;
  color: var(--color-grey-800);
  line-height: 38px;
}

.orderDetail-title-info {
  left: 31px;
}

.orderDetail-title-price {
  left: 700px;
}

.orderDetail-title-amount {
  left: 875px;
}

.orderDetail-title-total {
  left: 1040px;
}
