/* 訂單進度條 */
.progressBar {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.progressBar li {
  width: 70px;
  /* height: 140px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.progressBar li + li {
  margin-left: 70px;
}

.progressBar li + li::before {
  content: '';
  position: absolute;
  width: 150px;
  height: 6px;
  background-color: var(--color-secondary);
  z-index: -1;
  top: 18px;
  bottom: 0;
  left: -110px;
  /* margin: auto; */
}

.progressBar li.active {
  border: none;
}

.progressBar li.active ~ li .progressBar-icon {
  background-color: var(--color-primary);
}

.progressBar li.active ~ li .progressBar-text {
  color: var(--color-primary);
}

.progressBar li.active ~ li::before {
  background-color: var(--color-primary);
}

.progressBar-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

.progressBar-text {
  color: var(--color-secondary);
  padding-top: 10px;
}

/* 訂單查詢 */
.orderList-container {
  max-width: 1320px;
  margin: 32px auto 40px;
}
.orderList-title {
  display: flex;
  justify-content: space-between;
}

.orderList-refundBtn {
  width: 205px;
  height: 43px;
  border: none;
  border-radius: 8px;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.orderList-table {
  width: 100%;
  border: 1px solid var(--color-secondary);
  margin-top: 50px;
  border-radius: 4px;
  text-align: center;
}

.orderList-table thead {
  border-bottom: 2px solid var(--color-grey-500);
}
.orderList-table th {
  color: var(--color-grey-900);
  padding: 13.5px 0;
}

.orderList-table tbody tr:nth-child(even) {
  background-color: var(--color-grey-300);
}
.orderList-table tbody td {
  padding: 24px 0;
}

.orderList-table tbody td a {
  text-decoration: none;
  color: var(--color-primary);
}

.orderList-table tbody td .icon-info {
  color: var(--color-primary);
}

/* 訂單明細的客製版 */
.member-form-forOrderDetail {
  margin-top: 30px;
}
/* 付款方式與寄送資料 */
.member-form-group-content-forPayInfo {
  margin: 0 0 30px 0;
}
.member-form-forOrderDetail .orderDetail-payInfo {
  list-style: none;
  color: var(--color-grey-800);
  margin-left: 16px;
}
.member-form-forOrderDetail .orderDetail-payInfo li {
  padding: 20px 0;
  border-bottom: 1px solid var(--color-grey-500);
}
.member-form-forOrderDetail .orderDetail-payInfo li strong {
  margin-right: 26px;
}
/* 注意事項 */
.member-form-forOrderDetail .orderDetail-notes {
  color: var(--color-grey-800);
  margin-left: 40px;
}
.member-form-forOrderDetail .orderDetail-notes li {
  line-height: 36px;
}
.member-form-forOrderDetail .orderDetail-notes li a {
  color: var(--color-primary);
  text-decoration: none;
}
.member-form-forOrderDetail .orderDetail-notes li strong {
  color: var(--color-red-C);
  font-weight: 400;
}

.member-form-forOrderDetail .sumGroup {
  width: 100%;
  text-align: right;
}
.member-form-forOrderDetail .sumGroup-item {
  display: flex;
  justify-content: right;
}
