.paging-btn {
  border-radius: 4px;
  margin: 0px 8px;
  width: 48px;
  height: 48px;
  /* border: 1px solid #413d3c;
  background: none;
  color: var(--color-secondary); */
  color: #fff;
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.paging-btn:focus {
  box-shadow: 0px 0px 10px rgba(255, 153, 0, 0.7);
  border: 1px solid var(--color-primary);
}

.paging-btn + .active {
  /* color: #fff;
  background: var(--color-primary);
  border: 1px solid var(--color-primary); */
  border: 1px solid #413d3c;
  background: none;
  color: var(--color-secondary);
}
