.privateRecipeBanner-figure {
  width: 100%;
  /* width: 1920px; */
  height: 864px;
  overflow: hidden;
}
.privateRecipeBanner-slogan {
  position: absolute;
  top: 340px;
  left: 327px;
}
.privateRecipeBanner-slogan h1 {
  line-height: 80px;
  letter-spacing: 1.5px;
  font-weight: 700;
  color: var(--color-white);
}
.privateRecipeBanner-btn {
  display: block;
  position: absolute;
  top: 520px;
  left: 327px;
  width: 286px;
  height: 43px;
  border-radius: 8px;
  background: var(--color-primary);
  text-decoration: none;
}
.privateRecipeBanner-plus-icon {
  height: 100%;
  margin: 0 auto;
  color: var(--color-white);
}
.privateRecipeBanner-plus-icon .plus-icon {
  margin: auto 0;
}

.privateRecipeBanner-btn span {
  margin-top: 7.5px;
  margin-left: 14px;
  color: var(--color-white);
}
@media only screen and (min-width: 321px) and (max-width: 768px) {
  .privateRecipeBanner-figure {
    width: 414px;
    overflow: hidden;
  }
  .privateRecipeBanner-slogan {
    display: none;
  }
  .privateRecipeBanner-btn {
    display: none;
  }
}
