.PrivateRecipeComment-container {
  width: 306px;
  height: 350px;
  padding: 20px;
  margin: auto;
  /* border: 1px solid green; */
  border-bottom: 1px solid var(--color-grey-500);
  margin-bottom: 60px;
}
.PrivateRecipeComment-avatar {
  width: 96px;
  height: 96px;
  border-radius: 1000px;
  overflow: hidden;
}
.PrivateRecipeComment-name {
  margin: 36px 0;
  margin-left: 17px;
  color: var(--color-secondary);
}
.PrivateRecipeComment-star {
  margin-top: 8px;
  color: var(--color-primary-A);
  /* margin: 0 10px; */
}

.PrivateRecipeComment-date {
  margin-left: 15px;
  color: var(--color-secondary);
}
.PrivateRecipeComment {
  display: inline-block;
  display: -webkit-box;
  height: 160px;
  margin-top: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  color: var(--color-secondary);
}

.PrivateRecipeComment-more {
  color: var(--color-blue-C);
  margin-top: 8px;
  margin-right: 20px;
}
.PrivateRecipeComment-more i {
  margin: auto 0;
  color: var(--color-blue-C);
}
