.background_animate div {
  position: absolute;
  width: 100px;
  height: 100px;
  background: var(--color-primary);
  z-index: -1;
  border: 10px solid rgba(255, 255, 255, 0.8);
}
.background_animate div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}
.background_animate div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 8s linear infinite;
}
.background_animate div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}
.background_animate div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.background_animate div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 10s linear infinite;
}
.background_animate div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}
.background_animate div:nth-child(7) {
  top: 220%;
  left: 90%;
  animation: animate 15s linear infinite;
}
.background_animate div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}
.background_animate div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 13s linear infinite;
}
.background_animate div:nth-child(10) {
  top: 50%;
  left: 80%;
  animation: animate 8s linear infinite;
}
.background_animate div:nth-child(11) {
  top: 150%;
  left: 40%;
  animation: animate 11s linear infinite;
}
.background_animate div:nth-child(12) {
  top: 200%;
  left: 30%;
  animation: animate 9s linear infinite;
}
.background_animate div:nth-child(13) {
  top: 190%;
  left: 10%;
  animation: animate 13s linear infinite;
}
.background_animate div:nth-child(14) {
  top: 150%;
  left: 85%;
  animation: animate 14s linear infinite;
}
.background_animate div:nth-child(15) {
  top: 110%;
  left: 75%;
  animation: animate 17s linear infinite;
}
.background_animate div:nth-child(16) {
  top: 140%;
  left: 15%;
  animation: animate 11s linear infinite;
}
.background_animate div:nth-child(17) {
  top: 130%;
  left: 30%;
  animation: animate 14s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0), translateY(0) rotate(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2) translateY(-150px) rotate(360deg);
    opacity: 0;
  }
}