.privacy {
  padding: 20px 10px;
  margin: 0;
  border-bottom: 1px solid var(--color-grey-500);
}
.privacy-top {
  padding: 20px 10px;
}
.privacy-content h6 {
  padding: 15px 10px;
  margin: 0;
}
.privacy-content li {
  color: var(--color-grey-900);
  padding: 10px;
}

.about-image {
  width: 50%;
  margin: 0 auto;
}
.about-content li{
  padding: 10px 0;
}