.card-recipe {
  margin-top: 70px;
}

.privateRecipeCardMore-others {
  color: var(--color-grey-900);
}
.privateRecipeCardMore-others-hr {
  display: block;
  height: 1px;
  background: var(--color-grey-900);
  margin-bottom: 20px;
}
.privateRecipeCardMore-others h5 {
  font-weight: 700;
}
.privateRecipeCardMore-others-more {
  margin-right: 60px;
}
.privateRecipeCardMore-others-more .more-right {
  margin-right: 18px;
}
.privateRecipeCardMore {
  position: relative;
  width: 306px;
  height: 379px;
  border-radius: 8px;
  margin: auto;
  margin-bottom: 60px;
}
.privateRecipeCardMore-img {
  width: 306px;
  height: 250px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.privateRecipeCardMore-bookmark {
  position: absolute;
  right: 28px;
  top: 21px;
  color: var(--color-white);
  transform: scale(2);
}
.privateRecipeCardMore-bookmark:hover {
  cursor: pointer;
  position: absolute;
  right: 28px;
  top: 21px;
  color: var(--color-blue-C);
  transform: scale(2);
}
.privateRecipeCardMore-bookmark-stat-box {
  position: absolute;
  width: 113px;
  height: 33px;
  left: 12px;
  top: 207px;
  border-radius: 14px;
  background: #f0f0f0;
}
.privateRecipeCardMore-bookmark-stat-icon {
  position: absolute;
  transform: scaleX(24px);
  left: 21px;
  top: 5px;
  color: var(--color-blue-C);
}
.privateRecipeCardMore-bookmark-num {
  position: absolute;
  width: 46px;
  height: 20px;
  margin-top: 7px;
  margin-left: 46px;
  color: var(--color-secondary);
}
.privateRecipeCardMore-type {
  position: relative;
  margin-left: 12px;
  color: var(--color-grey-500);
}
.privateRecipeCardMore-name {
  font-weight: 700;
  position: relative;
  margin-top: 10px;
  margin-left: 12px;
  color: var(--color-grey-900);
}
.privateRecipeCardMore-ig .instagram {
  transform: scale(1.5);
  position: relative;
  margin-left: 12px;
  margin-top: 12px;
  color: palevioletred;
}

.privateRecipeCardMore-ig span {
  color: var(--color-grey-800);
  margin-left: 10px;
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .privateRecipeCardMore-others {
    padding: 0 35px;
  }
  .privateRecipeCardMore-others-more {
    margin-right: 0px;
  }
}
