.PrivateRecipePhotoIntro-photo {
  height: 636px;
  border: 6px solid var(--color-primary);
}
.PrivateRecipePhotoIntro-photo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.PrivateRecipePhotoIntro-right {
  height: 636px;
}
.PrivateRecipePhotoIntro-avatar {
  margin-top: 25px;
  width: 96px;
  height: 96px;
  border-radius: 1000px;
  overflow: hidden;
}
.PrivateRecipePhotoIntro-user-info {
  margin: auto 0;
  margin-right: 60px;
}
.PrivateRecipePhotoIntro-user-info div {
  margin: 5px 0;
}

/* 追蹤按鈕 css */
.PrivateRecipePhotoIntro-follow-btn {
  width: 286px;
  height: 43px;
  margin: auto 0;
  border-radius: 8px;
  text-align: center;
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  background: var(--color-white);
}

.PrivateRecipePhotoIntro-follow-btn-active {
  width: 286px;
  height: 43px;
  margin: auto 0;
  border-radius: 8px;
  text-align: center;
  color: var(--color-white);
  border: 2px solid var(--color-secondary);
  background: var(--color-secondary);
}

/* 按讚按鈕 css */
.PrivateRecipePhotoIntro-like-btn {
  width: 100%;
  height: 43px;
  border-radius: 8px;
  border: 2px solid var(--color-red-C);
  margin-top: 32px;
  background: var(--color-white);
  color: var(--color-red-C);
}
.PrivateRecipePhotoIntro-like-btn svg {
  margin-right: 10px;
}
.PrivateRecipePhotoIntro-like-btn-active {
  width: 100%;
  height: 43px;
  border-radius: 8px;
  border: 2px solid var(--color-red-C);
  margin-top: 32px;
  background: var(--color-red-C);
  color: var(--color-white);
}
.PrivateRecipePhotoIntro-like-btn-active svg {
  margin-right: 10px;
}

/* 收藏按鈕 css */
.PrivateRecipePhotoIntro-bookmark-btn {
  width: 100%;
  height: 43px;
  border-radius: 8px;
  border: 2px solid var(--color-secondary);
  margin-top: 18px;
  background: var(--color-white);
  color: var(--color-secondary);
}
.PrivateRecipePhotoIntro-bookmark-btn svg {
  margin-right: 10px;
}
.PrivateRecipePhotoIntro-bookmark-btn-active {
  width: 100%;
  height: 43px;
  border-radius: 8px;
  border: 2px solid var(--color-secondary);
  margin-top: 18px;
  background: var(--color-secondary);
  color: var(--color-white);
}
.PrivateRecipePhotoIntro-bookmark-btn-active svg {
  margin-right: 10px;
}

.PrivateRecipePhotoIntro-star {
  color: var(--color-primary-A);
}
.PrivateRecipePhotoIntro-star-num {
  margin-left: 10px;
  font-weight: 400;
  color: var(--color-secondary);
}
.PrivateRecipePhotoIntro-recipe-name,
.PrivateRecipePhotoIntro-qty {
  margin-top: 21px;
  font-weight: 700;
  color: var(--color-secondary);
}
.PrivateRecipePhotoIntro-intro {
  display: block;
  display: -webkit-box;
  height: 109px;
  margin-top: 27px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  color: var(--color-secondary);
}

.PrivateRecipePhotoIntro-qty-num {
  display: block;
  margin-top: 27px;
  font-weight: 400;
  color: var(--color-secondary);
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .PrivateRecipePhotoIntro-photo {
    height: 390px;
    overflow: hidden;
    border: 6px solid var(--color-primary);
  }
  .PrivateRecipePhotoIntro-right {
    padding: 3px;
    height: 100%;
  }
  .PrivateRecipePhotoIntro-avatar {
    margin-top: 20px;
    width: 70px;
    height: 70px;
    border-radius: 1000px;
    overflow: hidden;
  }
  .PrivateRecipePhotoIntro-user-info {
    margin-right: 5px;
  }
  .PrivateRecipePhotoIntro-user-info .font-700M {
    font-size: 18px;
    font-weight: 400;
  }

  .PrivateRecipePhotoIntro-follow-btn {
    width: 110px;
    height: 43px;
    text-align: center;
    margin: auto 0;
    border: 2px solid var(--color-secondary);
    border-radius: 8px;
  }
  .PrivateRecipePhotoIntro-recipe-name,
  .PrivateRecipePhotoIntro-qty {
    font-size: 24px;
    line-height: 26.4px;
  }
}
