.s-market-top {
  color: var(--color-grey-900);
  padding: 20px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s-market-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--color-grey-500);
}
.s-market-info {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-market-image {
  width: 30%;
  height: 150px;
  border-radius: 4px;
  overflow: hidden;
}
.s-market-intro {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s-market-text {
  width: 70%;
  color: var(--color-grey-900);
}
.s-market-text li {
  color: var(--color-grey-800);
  margin: 0;
}
.s-market-price {
  width: 20%;
  text-align: end;
}
.s-market-add button {
  background: var(--color-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  padding: 0 20px;
  height: 42px;
  z-index: 1;
  white-space: nowrap;
}
.s-market-add button:hover {
  color: var(--color-primary-A);
  border: 1px solid var(--color-primary-A);
}

@media screen and (max-width: 414px) {
  .s-market-top {
    padding-bottom: 20px;
  }
  .s-market-top,
  .s-market-card,
  .s-market-intro {
    display: block;
  }
  .s-market-info,
  .s-market-text,
  .s-market-price,
  .s-market-add,
  .s-market-add button {
    width: 100%;
    padding: 10px 0;
  }
  .s-market-image {
    width: 40%;
  }
  .s-market-intro {
    width: 55%;
  }
  .s-market-text ul {
    max-height: 40px;
    overflow: hidden;
  }
}
