/* table */
.table-food {
  width: 100%;
}
.table-food thead {
  background: var(--color-primary);
  color: var(--color-white);
}
/* 偶數行有底色 */
.table-food tr:nth-child(even) {
  background-color: var(--color-grey-300);
}
.table-left {
  height: 55px;
  width: 50%;
  text-align: left;
  padding-left: 100px;
}
.table-right {
  width: 50%;
  text-align: right;
  padding-right: 100px;
}
